 

 #about {
    background-color: var(--surface-color);
    padding-inline: 32px ;
    padding-bottom: 80px;

    & h3{
        font: var(--fw-med) var(--fs-reg)/100% var(--font-family);
        color: var(--brand-primary);
  
    }
    & h1{
        font: 800 var(--fs-gg)/120% var(--font-family);
    }
    & p{
        font:300 var(--fs-med)/160% var(--font-family);
        color: var(--text-secondary);
    }
}

@media (width <=24em){
     #about{
        display: none;
    }
    #about img {
        display: none;
    }  
    #about div{
        display: none;
    }
      
}