.btn-reg {
  border: 0;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;

  font:500 16px/1.5rem var(--font-family);

  background-color: var(--text-primary);
  color: var(--bg-color);
}
.btn-reg[aria-label] {
  &::after {
    content: attr(aria-label);
  }
}
.btn-reg:hover {
  background: linear-gradient(90deg, #f7b733 0%, #fc4a1a 100%);
  color: var(--bg-color);
 
}

.btn-low {
  border: 0;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;

  width: fit-content;

  font: 500 14px/1.5rem var(--font-family) ;
  color: var(--bg-color);
  background-color: var(--text-primary);


}

.btn-low:hover {
  background: linear-gradient(90deg, #f7b733 0%, #fc4a1a 100%);
  color: var(--bg-color);
}
.btn-low[aria-label] {
  &::after {
    content: attr(aria-label);
  }
}

@media (width >= 80em) {
  .btn-reg {
    font: var(--fw-med) 18px/1.5rem var(--font-family);
    padding: 16px 32px;
    font-size: 18px;
  }
  .btn-low{
    padding: 12px 24px;

    font:500 16px/1.5rem var(--font-family);
  }
  .btn-border{
    font: var(--fw-med) 18px/1.5rem var(--font-family);
    padding: 16px 32px;
    font-size: 18px;
  }
}
.btn-border {
  border: 2px solid var(--text-primary);
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;

  font:500 16px/1.5rem var(--font-family);
  

  background-color: var(--bg-color);
  color: var(--btn-txt-color);
}

.btn-border:hover {
  background: linear-gradient(black, black) padding-box,
    linear-gradient(90deg, #f7b733 0%, #fc4a1a 100%) border-box;
  border: 2px solid transparent;
 
}

.btn-border[aria-label] {
  &::after {
    content: attr(aria-label);
    background: linear-gradient(90deg, #f7b733 0%, #fc4a1a 100%);
    --webkit-background-clip: text;
      background-clip: text;
  

  }
}
.btn-border:hover {
  color: transparent;
}
