 #features{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
   
    
    & h1{
        font: 800 32px/120%var(--font-family);
    }
    & p{
        font: 400 16px/160% var(--font-family);
        color: var(--text-secondary);
    }
    #celular{
        width: 240px;
    }
    
    .caixa{
        background-color: var(--surface-color);
        border:1px solid var(--stroke-color);
        border-radius: 24px;
        width:280px ;
        padding: 25px;

    }
  
   
}
#caixa{
    & #box-1{
        margin: 20px 500px auto 2px;
    }
}
