:root{
    /* CORES */
    --brand-gradient:#FC4A1A#F7B733;
    --brand-primary:#F7B733;
    --brand-secondary:#FC4A1A;
    --bg-color:#09090B;
    --surface-color:#18181B;
    --stroke-color:#27272A; 
    --text-primary: #F4F4F5; 
    --text-secondary:#A1A1AA; 
   /* FONTES */
   --font-family: "Inter", sans-serif;
   --font-h1:64px/120% var(--font-family);
   --font-h2:48px/120% var(--font-family);
   --font-h3:32px/120% var(--font-family);
   --font-span:500 14px/100% var(--font-family);
   --font-paragraph:400 16px/160% var(--font-family);

   --fontmo-h1:40px/120% var(--font-family);
   --fontmo-h2:24px/120% var(--font-family);
   --fontmo-h3:20px/120% var(--font-family);
   --fontmo-span:500 14px/100% var(--font-family);
   --fontmo-paragraph:400 16px/160% var(--font-family);

}
