*,
*::after,
*::before{
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
    font: inherit;
}
:root{
    /* CORES */
    --brand-gradient:#FC4A1A, #F7B733;
    --brand-primary:#F7B733;
    --brand-secondary:#FC4A1A;
    --bg-color:#09090B;
    --surface-color:#18181B;
    --stroke-color:#27272A; 
    --text-primary: #F4F4F5; 
    --text-secondary:#A1A1AA; 
    /* FONTE */
   --font-family: "Inter", serif;
   --fs-xg:40px;
   --fs-gg:24px;
   --fs-g:20px; 
   --fs-med:16px; 
   --fs-reg:14px; 

   --fw-big:800;
   --fw-med:500;
   --fw-reg:400;

   /* PADDING */
   --px-g:24px;

   --py-reg:16px;
   --py-med:32px;
   --py-g:48px;
}

@media (width >= 80em) {
    :root{
        --fs-xg:64px;
        --fs-gg:48px;
        --fs-g:40px; 

        --px-g:32px;
        --py-reg:24px;
        --py-med:40px;
        --py-g:80px;
    }
}
html{
    font-family: var(--font-family);
    font-weight:var(--fw-reg);
    font-size: var(--fs-med);
    line-height: 1.6;
    color: var(--text-primary);
}
body{
    background-color: var(--bg-color);
}

/* ESCRITA */
h1, h2, h3{
    line-height: 1.2;
    color: var(--text-primary);
}
h1{
    font-size: var(--fs-xg) ;
}
h2{
    font-size: var(--fs-gg);
}
h3{
    font-size: var(--fs-g);
}

span{
    line-height: 1.0;
    font-weight: var(--fw-med);
    font-size: var(--fs-span);
}
p{
    line-height: 1.6;
    font-weight: var(--fw-reg);
    font-size: var(--fs-med);
}
a{
    color: inherit;
    text-decoration: none;

    &:hover{
        background: linear-gradient(90deg, #FC4A1A 0%, #F7B733 100%);
        color: transparent;
        --webkit-background-clip:text;
        background-clip: text;
    }
}
ul[role="list"]{
    list-style: none;
}


