@media (width >= 80em) {
    #hero{

        background: url(./../icons/Illustration.svg) no-repeat bottom center/contain;
        height: 700px;
    }
    #hero img{
        width: 412;
        height: 107px;
    }
}
#hero {
    
    flex-direction: column;
    
   
    
    & h1{
    font: var(--fw-big) var(--fs-xg)/120% var(--font-family);
    }
    & h2{
        font: var(--fw-med) var(--fs-g) var(--font-family);
        color: var(--text-secondary);
        padding-top: 16px;
    }
    .br{
        display: none;
    }
    .title{
        display: flex;
    }
    .botao{
        display: flex;
        gap: 1rem;
        margin-top: 48px;
    }

}


@media (width <=24em){
    #hero{
        padding-top:64px ;
      
    }
}   
    #hero h1{
        display: block;
        text-align: center;
        font: var(--fw-big) var(--fs-xg)/120% var(--font-family); 
    }
    .title{
        display: none;
    }
    #hero h2{
        padding-top: 8px;
    }
    .botao{
        margin-top: 32px;

    }
    
