#pricing{
    
    & header{
        text-align: center;
    }

    & .cards{
        margin-top: 2rem;
    }

    
    & .card{

        margin-top: 1.3rem;
    }
    
    & .card p{
    margin-bottom: 24px;
    }

    & .card a{
    margin: 24px auto;
    }
    
    & h4{
        color: var(--brand-primary);
        font: 400 16px/140% var(--font-family);
    }
    
    & h2{
        font: 800 48px/120% var(--font-family);
        margin: 8px auto 0;
        
        
    }

    & zin-pricing{
        font: 800 40px/120% var(--font-family);
    }
    & zin-pricing small{
        font: 400 16px var(--font-family);
        color: var(--text-secondary);
    }
    .btn-border{
        background-color: var(--surface-color);
    }

    & .separator{
        height: 1px;
        margin-block: 2rem;
        background: radial-gradient(var(--text-secondary), var(--surface-color) 70%);
    }
    & ul li{
        display: flex;
    }
    & li img{
        transform: translateY(-17%);
        padding-right: 8px;
      
    }
    
    


    & ul + small{
        color: var(--text-secondary);
        font-size: 14px;
        margin-top: 24px;
    }

}


& .premium-1{
    background: linear-gradient(var(--surface-color),var(--surface-color)) padding-box,
    linear-gradient(90deg, #f7b733 0%, #fc4a1a 100%) border-box;
  border: 1px solid transparent;
  border-radius: 24px;
  position: relative;


}
& .premium h3{
    margin-top: 40px;
  }
& span{
    color: var(--surface-color);
    font-weight: 700;
    font-size: 12px;
    font-family: var(--font-family);
    padding: 12px 32px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto 28px 0;
    
    background: linear-gradient(90deg, #f7b733 0%, #fc4a1a 100%);
    border-radius: 24px 0 ;
}




@media (width <=26rem){
    #pricing{
         
        & h2{
            font: 800 24px/120% var(--font-family);
            
        }
        & zin-pricing{
            font: 800 32px/120% var(--font-family);
        }
        

    }
}

@media (width >=80rem){
    #pricing{

        & .premium li + li + li {
           margin-bottom: 92px;
        }
       
    }
}