@media (width >=80rem){
    #smartphone{
        display: none;
    }
    
}
#smartphone{
    background: url(./../icons/bgabout.svg) top/cover;

    & img{
        margin:30px 30px 54px ;
        width: 312px;
        height: 320px;
        
    }
    & h3{
        font: var(--fw-med) var(--fs-reg)/100% var(--font-family);
        color: var(--brand-primary);
        margin-bottom: 8px;
        
    }
    & h1{
        font: 800 var(--fs-gg)/120% var(--font-family);
        margin-bottom: 8px;
    }
    & p{
        font:300 var(--fs-med)/160% var(--font-family);
        color: var(--text-secondary);
        margin-bottom: 8px;
    }
    & .text{
        margin-top: 48px;
        width: 327px;

    }
}