/* content of page*/
.container {
  --max-width: 375px;
  max-width: var(--max-width);
  width: calc(100% - var(--px-g) * 2);
  margin-inline: auto;
 
}
/* invisible in litte screens */
.desktop-only {
  display: none;
}
/*display and spacing */
.even-coluns {
  display: grid;
  gap: 16px;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.gap {
  gap: 1.5rem;
}
.itens-center{
    align-items: center;
}

/* padding in the boxes */
.px-g {
  padding-inline: var(--px-g);
}
.py-reg {
  padding-block: var(--py-reg);
}
.py-med {
  padding-block: var(--py-med);
}
.py-g {
  padding-block: var(--py-g);
}
@media (width >= 75em) {
  .container {
    --max-width: 80rem;
  }
  .desktop-only{
    display: initial;
  }
  .even-coluns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
 
}
